//variables 
$background-color:linear-gradient(to left bottom, #000000, #0a0004, #11000a, #150011, #160118, #15021a, #13041c, #10051e, #0d061c, #0b0719, #090816, #080812);
$light-gray:#848485;
$sm-font:14px;
$normal-font: 16.5px;

@mixin div-style{
    width:100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin p-style{
    color: $light-gray;
    font-size: $sm-font;
}

