
  @import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@400;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  // color: black !important;
  // background-color: white ;

}
body{
  background-color: #04010a;
  // max-width: 1400px !important;
  // margin: 0 auto;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Clash Display', sans-serif !important;
  color: white;
}
p{
  
  color: rgba(255, 255, 255, 0.521);
  line-height: 25px;
  font-size: 15px !important;
  // letter-spacing: ;
  // margin-top: 1em
}
/* FOOTER 1 */

