$light-gray:#e3e3e7;
.welcome{
    position: relative;
    background: linear-gradient(to top, #420a0afa, #1c263598), url('/images/signup_bg.png')  no-repeat top center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    // background: url('/public/images/signup_bg.png') no-repeat ;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    .container{
        position: absolute;
        // background-color: rgba($color: #2830a1, $alpha: .7);
        z-index: 999;
        height: 70vh;
        width: 500px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        background: linear-gradient(to left bottom, #000000, #0a0004, #11000a, #150011, #33041ee3, #15021a, #13041c, #10051e, #0d061c, #0b0719, #090816, #080812);
        box-shadow: 0px 4px 8px rgba(51, 6, 6, 0.473);
        @media screen and (max-width: 460px) {
           width: 70%; 
        }
        h1{
            font-size: 45px;
            font-weight: 700;
            color: #fffffff6;
            line-height: 150px;
            // margin-top: -10rem;
            letter-spacing: 4px;
            

        }
        .mid{
            // margin: 5em 0;
            width: 350px;
            margin-top: 6.5em;

            text-align: center;
            b{
                margin: 5em 0;
                font-size: 25px;
                font-family: 'Raleway', sans-serif;
                color:#eff6fffb;
                span{
                    color:  rgb(255, 140, 63);
                    font-size: 34px;
                    // font-weight: 400;
                }
            }
            hr{
                margin: 3em 0 0.5em 0;
                // width: 100vw;
                border-radius: 50%;
                border: 1px solid rgba(138, 138, 138, 0.801);
            }
            p{
                padding: 20px 10px;
                color:$light-gray;
            }
           
        }
        .btns{
            display: block;
            flex-direction: column;
            align-items: center;
            margin-top: 8em;
            button{
                // padding: 10px 20px;
                width: 150px;
                height: 40px;
                margin: 1.5em;
                border: none;
                font-weight: bold;
                border-radius: 3px;
                box-shadow: 2px 5px 10px rgba(32, 31, 31, 0.212);
                overflow: hidden;
                // margin-top: 20em;
                &:first-child{
                    background-color:inherit;
                    color: rgba(255, 255, 255, 0.836);
                    border: 1px solid #420a0afa;
                }
                &:last-child{
                    border: 1px solid blue;
                    color: rgb(76, 43, 226);
                    background-color: #e4dedefa;
                }
                &:hover{
                    background-color:#420a0afa;
                    color: rgba(255, 255, 255, 0.664);
                }
            }
        }
    }
}
// @media screen and (max-width: 460px){
//     .welcome{
//         width: 100%;
//         .container{
//             width: 70%;
//             height: 100vh;
//         }
//     }
    
// }