
// @import '/src/styles/theme-context.scss';
// .container {
    //   @include themify($themes) {
        //     background: themed('headerFooterBackground');
        //   }
        // }
.container{
            
    // height: 100%;
    width: 100%;
    

    .width{
        max-width: 1400px;
        margin: 0 auto;
        position: relative;
        @media screen and (max-width:968px){
        // padding:.5rem 19px;
    }
    .sticky{
        position: fixed;
        top: 0%;
        left: 0%;
        right: 0%;
    }
    .feature{
        display: flex;
       gap: 24px;
       align-items: center;
       margin-top: 2em;
    }
        
    }
    // @media screen and (max-width:375px){
    //     padding:25px 10px;
        
    // }

}